{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ livre.description }}</td>
            </tr>
            <tr>
                <th>Annee publication</th>
                <td>{{ livre.annee }}</td>
            </tr>
            <tr>
                <th>Image_couverture</th>
                <td><img src="/uploads/files/{{ livre.imageCouverture }}" alt="Image de couverture"></td>
            </tr>
            <tr>
                <th>Stock_total</th>
                <td>{{ livre.stockTotal }}</td>
            </tr>
            <tr>
                <th>Stock_disponible</th>
                <td>{{ livre.stockDisponible }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ livre.created ? livre.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livre_index') }}">back to list</a>

    <a href="{{ path('app_livre_edit', {'id': livre.id}) }}">edit</a>

    {{ include('bibliothecaire/livre/_delete_form.html.twig') }}
{% endblock %}
